<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<p class="lead">
				MEAN REST Client
			</p>
		</div>
	</div>
	<div>
		<center><h2>Use this application to test your RESTful API.</h2></center>
		<center><p>Sign up and create your scenarios</p></center>
	</div>
</section>