<section data-ng-controller="ScenariosController" data-ng-init="find()">
    <div class="page-header">
        <h1>New Scenario</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="name" class="form-control" placeholder="Description" required>
                    </div>
                    <label class="control-label" for="name">Sequence</label>
                    <div class="controls">
                        <input type="number" data-ng-model="sequence" id="name" class="form-control" placeholder="Sequence" required>
                    </div>
                    <label class="control-label" for="name">Test</label>
                    <div id="testsList" class="controls" ng-controller="TestsController" ng-init="find()">
                        <select id="TestsSelector" style="width: 90%;" ng-model="selectedTest" ng-options="test as test.name for test in tests">
                        </select>
                    <button type="button" ng-click="addToScenario(selectedTest)">Add</button>
                        <ul>
                          <li ng-repeat="selectedTest in listOfTests.tests track by $index">
                            {{selectedTest.test._id}}
                          </li>
                        </ul>

                    </div>



                </div>                    
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>