<section data-ng-controller="ScenariosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Scenarios</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="scenario in scenarios" data-ng-href="#!/scenarios/{{scenario._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="scenario.created | date:'medium'"></span>
				by
				<span data-ng-bind="scenario.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="scenario.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!scenarios.$resolved || scenarios.length">
    	No Scenarios yet, why don't you <a href="/#!/scenarios/create">create one</a>?
    </div>
</section>