<section data-ng-controller="ScenariosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="scenario.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == scenario.user._id))">
		<a class="btn btn-primary" href="/#!/scenarios/{{scenario._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="scenario.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="scenario.user.displayName"></span>
		</em>
	</small>


	<div id="runScenario">
		
		<a class="btn btn-primary" data-ng-click="runScenario();"> Run scenario
		</a>
	</div>


	<ul id="results" data-ng-repeat="result in scenarioResults">
		Request: 
		<li>
			<ul data-ng-repeat="key in result">
				<li>{{key.request}}</li>

			</ul>
		</li>
		Assertion:
		<li>
			<p>{{result.testInfo.expression}} {{result.testInfo.operator}} {{result.testInfo.expectation}}</p>
		</li>
		<li>
		Response:
			<p>{{result}}</p>
		</li>
		<li>
		    <span data-ng-if="result.testResult === true">
		       ASSERTION CAME BACK TRUE <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
		    </span>
		    <span data-ng-if="result.testResult === false">
				ASSERTION CAME BACK FALSE <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>	       
			</span>
		</li>
	</ul>
</section>
