<section data-ng-controller="TestsController">
    <div class="page-header">
        <h1>New Test</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="GET_STATUS_200_TESTAPP_ARTICLES" required>
                    </div>
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Uses a GET  request to fetch /articles, checks by status code 200" required>
                    </div>
                    <label class="control-label" for="expression">Expression</label>
                    <div class="controls">
                        <input type="text" data-ng-model="expression" id="expression" class="form-control" placeholder="statusCode" required>
                    </div>
                    <label class="control-label" for="operator">Operator</label>
                    <div class="controls">
                        <input type="text" data-ng-model="operator" id="operator" class="form-control" placeholder="===" required>
                    </div>
                    <label class="control-label" for="expectation">Expectation</label>
                    <div class="controls">
                        <input type="text" data-ng-model="expectation" id="expectation" class="form-control" placeholder="200" required>
                    </div>
                    <label class="control-label" for="name">Request</label>
                    <div class="controls" ng-init="findRequests()">
                        <select data-ng-model="request" id="TestsSelector" style="width: 100%;">
                          <option ng-repeat="request in requests" value="{{request}}" >{{request.name}}</option>
                        </select>                    
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>