<section data-ng-controller="TestsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Test</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="test.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="test.description" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Expression</label>
                    <div class="controls">
                        <input type="text" data-ng-model="test.expression" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Operator</label>
                    <div class="controls">
                        <input type="text" data-ng-model="test.operator" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Expectation</label>
                    <div class="controls">
                        <input type="text" data-ng-model="test.expectation" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Requests</label>
                    <div class="controls">
                        <input type="text" data-ng-model="test.request" id="name" class="form-control" placeholder="Name" required>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>