<section data-ng-controller="TestsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tests</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="test in tests" data-ng-href="#!/tests/{{test._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="test.created | date:'medium'"></span>
				by
				<span data-ng-bind="test.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="test.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tests.$resolved || tests.length">
    	No Tests yet, why don't you <a href="/#!/tests/create">create one</a>?
    </div>
</section>