<section data-ng-controller="TestsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="test.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == test.user._id))">
		<a class="btn btn-primary" href="/#!/tests/{{test._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="test.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="test.user.displayName"></span>
		</em>
	</small>

	<div id="info">
		<p>Request ID: <span class="list-group-item-heading" data-ng-bind="test.request"></span> </p>
		<p>Expect <span data-ng-bind="test.expression"></span> <span data-ng-bind="test.operator"></span> <span data-ng-bind="test.expectation"></span></p>



	</div>

	<div>
		<a class="btn btn-primary" data-ng-click="runTest();"> Run test
		</a>

	</div>

	<div id="result">
		
		{{result}}

	</div>



</section>
