<section data-ng-controller="RequestsController">
    <div class="page-header">
        <h1>New Request</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Hostname</label>
                    <div class="controls">
                        <input type="text" data-ng-model="hostname" id="hostname" class="form-control" placeholder="autobay.tezzt.nl" required>
                    </div>
                    <label class="control-label" for="name">Port</label>
                    <div class="controls">
                        <input type="text" data-ng-model="port" id="port" class="form-control" placeholder="3000" required>
                    </div>
                    <label class="control-label" for="name">Path</label>
                    <div class="controls">
                        <input type="text" data-ng-model="path" id="path" class="form-control" placeholder="/" required>
                    </div>
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="This request is used for..." required>
                    </div>
                    <label class="control-label" for="name">Method</label>
                    <div class="controls">
                        <input type="text" data-ng-model="method" id="description" class="form-control" placeholder="GET" required>
                    </div>
                    <label class="control-label" for="name">Parameters</label>
                                        <div class="controls">

                      <input type="text" ng-model="params.name" name="" placeholder="Parameter name">
                      <input type="text" ng-model="params.value" name="" placeholder="Parameter value">
                      <button type="button" ng-click="addParameters(params)">Add parameters</button>
                      </div>

                    <div class="controls" data-ng-repeat="param in paramsList">
                        <p>
                        Parameter name {{param.name}}, Parameter value {{param.value}}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>