<section data-ng-controller="RequestsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Request</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="request.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Hostname</label>
                    <div class="controls">
                        <input type="text" data-ng-model="request.hostname" id="hostname" class="form-control" placeholder="autobay.tezzt.nl" required>
                    </div>
                    <label class="control-label" for="name">Port</label>
                    <div class="controls">
                        <input type="text" data-ng-model="request.port" id="port" class="form-control" placeholder="3000" required>
                    </div>
                    <label class="control-label" for="name">Path</label>
                    <div class="controls">
                        <input type="text" data-ng-model="request.path" id="path" class="form-control" placeholder="/" required>
                    </div>
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="request.description" id="description" class="form-control" placeholder="This request is used for..." required>
                    </div>
                    <label class="control-label" for="name">Parameters</label>
                    <div class="controls">
                        <input type="text" data-ng-model="request.parameters.name" id="parameterName" class="form-control" placeholder="ID" required>
                        <input type="text" data-ng-model="request.parameters.value" id="parameterValue" class="form-control" placeholder="Value" required>
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>