<section data-ng-controller="RequestsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Requests</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="request in requests" data-ng-href="#!/requests/{{request._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="request.created | date:'medium'"></span>
				by
				<span data-ng-bind="request.user.displayName"></span>
			</small>
            <h4 class="list-group-item-heading" data-ng-bind="request.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!requests.$resolved || requests.length">
    	No Requests yet, why don't you <a href="/#!/requests/create">create one</a>?
    </div>
</section>