<section data-ng-controller="RequestsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="request.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == request.user._id))">
		<a class="btn btn-primary" href="/#!/requests/{{request._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="request.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="request.user.displayName"></span>
		</em>
	</small>

	<div id="info">
		<p>Hostname: <span class="list-group-item-heading" data-ng-bind="request.hostname"></span> </p>
		<p>Port: <span class="list-group-item-heading" data-ng-bind="request.port"></span></p>
		<p>Path: <span class="list-group-item-heading" data-ng-bind="request.path"></span></p>
		<p>Description: <span class="list-group-item-heading" data-ng-bind="request.description"></span></p>
		<p>Parameters: <span class="list-group-item-heading" data-ng-bind="request.parameters"></span></p>
		<span ng-repeat="params in request.parameters">
			{{params}}
		</span>

	</div>

	<div>
		<a class="btn btn-primary" data-ng-click="makeRequest();"> Make request
		</a>

	</div>

	<div id="status">
		<p>{{statusCode}}</p>
	</div>

	<div id="headers">
		<p>{{headers}}</p>
	</div>

	<div id="body">
		<p>{{bodyText}}</p>
	</div>
</section>
